@import "../../../base/colors.scss";

.page-config {
  background-color: white;
  z-index: 9;
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 30rem;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  max-width: 12rem;

  &-title {
    padding: 0.4rem 1rem 0.4rem 0rem;
    color: white;
    background-color: $google_blue;
    display: flex;
    align-items: center;
    .icon > svg{
      height: 1.5rem;
      fill: white;
    }
  }

  .page-form {
    margin: 0 1rem 0 0;
    width: auto;
    .page-form-fields {
      font-size: 1rem;
      display: grid;
      grid-template-columns: 1fr 1rem;
      margin: 0;
    }

  }

  &-visibility {
    cursor: pointer;
    display: block;
    span {
    }
  }

  &-item {
    position: relative;
    padding-top: 0.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    flex-direction: column;

    &-tooltip {
      font-weight: normal;
      display: none;
      box-shadow: 0 .3rem 1rem 0 rgba($black, .15);
      position: absolute;
      padding: 0.4rem;
      top: -0.1rem;
      left: 12rem;
      width: 10rem;
      pointer-events: none;
      z-index: 9;
      background-color: white;
      &-content {
        font-size: small;
        font-weight: lighter;
      }
    }
  }
}