@import "../../base/colors.scss";

.reports-list {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 20rem;
  border: solid;
  border-width: 1px;

  &-title {
    padding: 0.4rem 1rem 0.4rem 0.4rem;
    color: white;
    background-color: $google_blue;
  }

&-item:hover {
  background-color: $grayEE;
}
  &-item {
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    display: flex;
    justify-content: space-between;
    text-decoration: none;

    &-active{
      cursor: none;
      pointer-events: none;
    }

    &-score {

    }
  }
}
