@import "../../../base/colors.scss";
.projects-recap {

  margin: auto;
  display: grid;
  grid-template-columns: 4fr repeat(4, 1fr);
  align-items: center;
  justify-items: center;

  &-reports {
    color: $google_grey
  }

  &-header {
    font-weight: bold;
  }
  &-item {

  }
}
