/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

// Main colors
$primary-color   : #F75B6C;
$primary-color-dark  : #DE4051;
$primary-color-light: #FFEFF0;

// Other colors
$apple      : #CDF4E3;
$bridesmaid : #FEEDED;
$cinderella : #FDE0E0;
$flamingo   : #F04548;
$jacksons   : #251A80;
$ice        : #EBFCF5;
$mystic     : #DBDDEB;
$night      : #140810;
$pastel     : #FFCFD4;
$perano     : #D4D8FA;
$powder     : #474655;
$regent     : #7A889D;
$royal      : #4759E4;
$sandy      : #FFECC7;
$selagol    : #ECEEFD;
$shamrock   : #37D999;
$solitaire  : #FFF9E9;
$supernova  : #FFBA0E;
$tuna       : #43425D;
$valencia   : #D64353;
$yellow     : #F7CD5B;
$water      : #F3F7FC;
$whisper    : #F5F6FA;

// Shades of gray
$black  : #000;
$gray22 : #222;
$gray33 : #333;
$gray66 : #666;
$gray99 : #999;
$grayAD : #ADADAD;
$grayBD : #BDBDBD;
$grayDE : #DEDEDE;
$grayE6 : #E6E6E6;
$grayEA : #EAEAEA;
$grayEF : #EFEFEF;
$grayF8 : #F8F8F8;
$white  : #FFF;
