/* ==========================================================================
   #BREAKPOINTS-VARIABLES
   ========================================================================== */

$xsmall-width: 370px;
$small-width: 640px;
$medium-width: 768px;
$large-width: 1024px;
$xlarge-width: 1370px;
