/* ==========================================================================
   #LAYOUT-VARIABLES
   ========================================================================== */

$container-xsmall-width: 58rem;
$container-small-width: 70rem;
$container-standard-width: 99rem;
$container-large-width: 144rem;
