@import "../../../base/colors.scss";

.billboard-text-panel {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto auto auto;
  width: 50rem;

  &-item {
    display: flex;
    flex-basis: 42%;
    flex-direction: column;
    margin: 1rem 4%;

    &-title {
      font-size: .95rem;
      font-weight: 600;
      text-transform: capitalize;
    }

    &-text {
      color: $google_grey;
      font-size: .92rem;

      a {
        text-decoration: none;
        color: $google_darkblue;
      }
    }
  }
}
