google:
  api_key: ''
postgres:
  username: ''
  password: ''
#smtp:
#   address:              'smtp.yourprovider'
#   port:                 587
#   domain:               'yourdomain'
#   user_name:            'noreply@yourdomain'
#   password:             ''
#   authentication:       'plain'
#   enable_starttls_auto: true