@import "../../base/colors.scss";

.analyzer {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;

  &-form {
    display: flex;
    align-items: center;

    &-field {
      min-width: 40rem;
      margin: 0;

      input {
        padding-left: 1rem;
        background: white;
        font-size: .9rem;
        margin: 0;
        width: 100%;
        border: none;
        height: 2.5rem;
        margin: 0.2rem;
      }
    }

    &-submit {
      margin: 0 1.5rem;

      input {
        padding: 0 1rem;
        background: $google_darkblue;
        border-radius: .15rem;
        color: white;
        cursor: pointer;
        font-size: 1rem;
        text-transform: uppercase;
        border: none;
        height: 2.5rem;
        margin: 0.2rem;
      }
    }
  }
}