.reports-recap {
  margin: auto;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;

  &-header {
    font-weight: bold;
  }
  &-item {
  }
}
