$googleblue: #4285f4;
$google_darkblue: #3367d6;
$google_grey: #757575;
$google_darkgrey: #212121;
$green: #5AE28A;


// Shades of gray
$black  : #000;
$gray22 : #222;
$gray33 : #333;
$gray4D : #4D4D4D;
$gray66 : #666;
$gray70 : #707070;
$gray77 : #777;
$gray88 : #888;
$gray99 : #999;
$grayAA : #AAA;
$grayBB : #BBB;
$grayCC : #CCC;
$grayDD : #DDD;
$grayD6 : #D6D6D6;
$grayD9 : #D9D9D9;
$grayE1 : #E1E1E1;
$grayEE : #EEEEEE;
$grayF5 : #F5F5F5;
$grayF3 : #F3F3F3;
$grayF7 : #F7F7F7;
$grayF8 : #F8F8F8;
$grayFA : #FAFAFA;
$grayFB : #FBFBFB;
$grayFC : #FCFCFC;
$white  : #FFF;
