@import "../../base/colors.scss";
.google-lighthouse {
  &-nav {
    color: white;
    display: flex;
    background-color: $googleblue;
    box-shadow: 0 4px 4px rgba(0,0,0,0.28);
    &-item{
      padding: 1rem;
      cursor: pointer;
      &.is-active {
        border-bottom: solid;
      }
      &-text {
        text-transform: uppercase;
      }
    }

  }
}
