@import "../../base/colors.scss";

.header {
  display: flex;
  justify-content: center;

  &-content {
    align-content: center;
    display: flex;
    min-width: 70rem;

    &-logo {
      display: flex;
      align-content: center;

      a {
        margin: auto
      }

    }

    &-list {
      list-style: none;
      display: flex;

      &-item {
        :hover {
          color: $google_darkgrey;
          border-bottom: solid;
          border-bottom-color: $google_darkblue;
        }

        a {
          color: $google_grey;
          padding: 0.8rem;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }

  }
}